body {
	font-family: sans-serif;
}

/***header***/

.header {
	display: flex;
	text-align: center;
	padding-left: 80px;
	padding-right: 80px;
	border-bottom: 1px solid #EBE8F4;
}

.header-title {
	font-size: 24px;
	line-height: 30px;
	text-align: left;


	padding-right: 150px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.header-title-link {
	color: #22202E;
}

.header-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.header-menu-item {
	font-size: 16px;
	line-height: 22px;
	text-align: left;

	padding-top: 29px;
	padding-bottom: 29px;
	padding-right: 44px;
}

.header-menu-link {
	color: #726E8D;
}

.header-panel {
	display: flex;
	align-items: center;
	column-gap: 16px;
	margin-left: auto;

}

.header-panel-search,
.header-panel-cart,
.header-panel-avatar {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.header-panel-search {
	background-image: url(../images/Search.png)
}

.header-panel-cart {
	background-image: url(../images/Shopping--cart.png)
}

.header-panel-avatar {
	background-image: url(../images/User--avatar.png);
}

/***header***/

/***hero***/

.hero {
	margin-top: 80px;

}

.hero-title {
	font-size: 36px;
	line-height: 50px;
	text-align: center;
	color: #2A254B;
	padding-top: 10px;
	padding-bottom: 10px;
}

.filters-info {
	display: flex;
	margin-top: 44px;
}

.filters-info-category {
	margin-left: 104px;
}

.filters-info-type,
.filters-info-category,
.filters-info-date {
	font-size: 14px;
	line-height: 21px;
	text-align: right;
	padding-bottom: 25px;
	padding-right: 60px;
	color: #2A254B;
}

#category,
#product,
#price,
#brand,
#date {
	font-size: 14px;
	line-height: 21px;
	text-align: left;
	border: none;
}

#date,
#product {
	width: 120px;
}

.filters-info-date {
	margin-left: auto;
	padding-right: 104px;
	color: #2A254B;
}

.products-info {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	padding-left: 70px;
	padding-right: 80px;
}

.products-info-item {
	padding-top: 30px;
}

.products-info-brand {
	font-size: 20px;
	line-height: 28px;
	text-align: left;
	color: #2A254B;

	padding-top: 24px;
}

.products-info-price {
	font-size: 18px;
	line-height: 27px;
	text-align: left;
	color: #2A254B;

	padding-top: 8px;
}

.products-info-view {
	display: flex;
	justify-content: center;

	padding-top: 48px;
	padding-bottom: 40px;
}

.products-info-button {
	background: #F9F9F9;
	padding: 16px 32px;
	border: none;
}

.products-info-link {
	width: 175px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #2A254B;
}

/***hero***/


/***sing***/
.sing {
	display: flex;
	justify-content: row;
}

.sing-foto {
	display: flex;
}

.sing-foto-link {
	width: 700px;
	height: 520px;
	background-image: url(../images/sofa.png);
}

.sing-info-title {
	width: 540px;
	font-size: 32px;
	line-height: 39px;
	text-align: left;

	padding-top: 70px;
	padding-left: 49px;
}

.sing-info-text {
	width: 470px;
	font-size: 16px;
	line-height: 24px;
	text-align: left;

	padding-top: 20px;
	padding-left: 49px;
}

.sing-info-view {
	padding-top: 215px;
	padding-left: 75px;
}

.sing-info-button {
	font-size: 16px;
	line-height: 24px;
	text-align: center;

	padding: 16px 32px;
	background-color: #2A254B;
	border: none;
}

.sing-info-link {
	color: #FFFFFF;
}

/***sing***/


/***fotter***/

.container {
	background-color: #2A254B;
	padding-top: 60px;
	padding-right: 80px;
	padding-left: 80px;
}

.wrapp {
	display: flex;
	flex-direction: row;
	gap: 100px;
}

.footer-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;

}


.footer-products-item,
.footer-categories-item,
.footer-company-item {
	padding-bottom: 12px;
}

.footer-products-link,
.footer-categories-link,
.footer-company-link,
.footer-social-email {
	font-size: 14px;
	line-height: 19px;
	text-align: left;
	color: #FFFFFF;
}

span {
	font-size: 16px;
	line-height: 20px;
	text-align: left;

	color: #FFFFFF;
}

.footer-map {
	margin-left: auto;
}


/***footer-social***/
.footer-social {
	display: flex;
	align-items: center;
	background-color: #2A254B;
	padding-top: 60px;
}


.footer-social-text {

	padding-bottom: 25px;
}

.footer-social-menu {
	display: flex;
	margin-left: auto;
	column-gap: 24px;
	padding-bottom: 25px;

}

.social-menu-link,
.social-menu-face,
.social-menu-inst,
.social-menu-skype,
.social-menu-twit,
.social-menu-print {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
}

.social-menu-link {
	background-image: url(../images/linkedin.png);
}

.social-menu-face {
	background-image: url(../images/facebook.png);
}

.social-menu-inst {
	background-image: url(../images/instagram.png);
}

.social-menu-skype {
	background-image: url(../images/skype.png);
}

.social-menu-twit {
	background-image: url(../images/twitter.png);
}

.social-menu-print {
	background-image: url(../images/pinterest.png);
}

/***fotter***/


/*Доброго дня, підганяла під екран 1440рх. 
інакше нічого не виходить, або картинка виїжджає
 у Sign up, або товари відїжджають. Може щось не так роблю,
  але в консолі розробника з шириною монітора 1440 вроді
   все нормально розташоване. 
	*/